<div>
  <p class="font-source text-corporate-gray-90">
    {{ chart.description | safe }}
  </p>
  {% if chart.id %}
    {% if chart.toggleText %}
      <p class="text-corporate-blue text-center text-h2 mt-14">
        {{ chart.toggleText }}
      </p>
    {% endif %}
    <div id="{{ section.id }}_ber">
      <figure>
        {{ request.app.extra[chart.id]|safe }}
        <figcaption class="sr-only">
          {{ section.title }} {{ translations.general.for }}
          {{ translations.chartToggle.berlin }}
        </figcaption>
      </figure>
    </div>
  {% endif %}
</div>
