<p class="text-corporate-blue text-center text-h2">
  {{ chart.toggleText }}
  <select
    id="{{ section_id }}_toggle"
    class="bg-white font-bold border-b-2 border-corporate-blue inline cursor-pointer hover:bg-light-gray"
    aria-controls="{{ section_id }}_ber {{ section_id }}_ger"
    aria-label="{{ translations.chartToggle.ariaLabel }}"
  >
    <option value="{{ section_id }}_ber">
      {{ translations.chartToggle.berlin }}
    </option>
    <option value="{{ section_id }}_ger">
      {{ translations.chartToggle.germany }}
    </option>
  </select>
</p>
<div id="{{ section_id }}_ber" class="mb-16">
  <figure>
    {{ request.app.extra[chart.id]|safe }}
    <figcaption class="text-sm">
      {{ section_title }} {{ translations.general.for }}
      {{ translations.chartToggle.berlin }}
    </figcaption>
  </figure>
</div>
