<div class="hero-section">
  <h1 class="pt-4 pb-2 font-bold text-3xl">{{ translations.get("title") }}</h1>
  <h2 class="font-bold leading-tight text-2xl mt-0 mb-2 text-pink-500">
    {{ translations.get("disclaimer") }}
  </h2>
  <p class="py-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda soluta
    sed consequatur rem saepe dolores voluptates recusandae explicabo officiis
    ipsa nesciunt, aliquid placeat dolor consectetur ullam tenetur impedit eaque
    quam quas esse facilis voluptate ducimus voluptatem. Itaque dolores
    similique, eaque animi magni, quaerat consectetur sit suscipit quas nam
    molestias culpa.
  </p>
</div>
