{% set section_id = section.id %}
{% set section_type = section.type %}
<section class="py-8 border-t border-corporate-gray-20 first-of-type:border-hidden" id="{{ section_id }}">
  {% if section_type == "quote" %}
    {% set section = section %}
    {% include "components/quote-section.html" %}
  {% else %}
  <div class="desktop:px-12">
    <h2 class="text-sm font-bold mt-0 mb-2 text-corporate-blue pb-10">
      {{ section.title }}
    </h2>
    <h3 class="text-corporate-blue text-2xl font-thin leading-10 pb-10">{{ section.disclaimer }}</h3>
    <p class="font-source">{{ section.sectionDescription | safe }}</p>
    <div class="my-4">
      {% set charts = section.charts %}
      {% if charts %}
        {% with charts=charts %}
          {% for chart in charts %}
            {% with chart = chart %}
              {% include "components/chart-toggle.html" %}
            {% endwith %}
          {% endfor %}
        {% endwith %}
      {% endif %}
    </div>
    {% endif %}
  </divclass>
</section>
