{% set section_id = section.get("id", "") %}
<section class="py-8 border-t border-corporate-gray-20" id="{{ section_id }}">
  <div class="desktop:px-12">
    <h2 class="text-2xl mt-0 mb-2 text-corporate-blue">
      {{ section.get("title", "") }}
    </h2>
    <p>{{ section.get("sectionDescription", "") }}</p>
    <div class="my-4">
      {% set chart_ids = section.get("chart-ids", []) %}
      {% if chart_ids|length > 1 %}
        {% with chart_ids=chart_ids %}
          {% with section_id=section_id %}
            {% with section_title=section.get("title", "") %}
              {% with toggleText=section.get("toggleText", "") %}
                {% include "components/chart-toggle.html" %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
      {% else %}
        {%
          if chart_ids[0] in
          request.app.extra
        %}
          <figure>
            {{ request.app.extra[chart_ids[0]]|safe }}
            <figcaption class="text-sm">
              {{ section.get("title", "") }}
            </figcaption>
          </figure>
        {% endif %}
      {% endif %}
    </div>
  </divclass>
</section>
