{% set section_id = section.get("id", "") %}
<section class="py-8 border-t border-corporate-gray-20" id="{{ section_id }}">
  <div class="desktop:px-12">
    <h2 class="text-2xl mt-0 mb-2 text-corporate-blue">
      {{ section.get("title", "") }}
    </h2>
    <p>{{ section.get("sectionDescription", "") }}</p>
    <div class="my-4">
      {% set chart_ids = section.get("chartIds", []) %}
      {% set filter_id = section.get("chartFilterId", "") %}
      {% set section_title=section.get("title", "") %}
      {% set toggleText=section.get("toggleText", "") %}
      {% if chart_ids|length > 1 %}
        {% include "components/chart-toggle.html" with context %}
      {% elif chart_ids and chart_ids[0] in request.app.extra %}
        <figure>
          {{ request.app.extra[chart_ids[0]]|safe }}
          <figcaption class="text-sm">
            {{ section.get("title", "") }}
          </figcaption>
        </figure>
      {% endif %}
    </div>
  </divclass>
</section>
