<h2
  class="pt-8 mt-8 pb-2.5 border-t border-corporate-blue-light font-bold text-md"
>
  {{ translations.footer.sponsored }}
</h2>
<img
  src="static/images/B_SEN_WiEnBe_Logo_DE_H_PW_RGB.svg"
  class="w-full max-w-80 pb-5"
  alt="Logo der Berliner Senatsverwaltung für Wirtschaft, Energie und Betriebe"
/>
<ul class="mb-8">
  <li class="font-bold underline cursor-pointer mb-2 underline-offset-2">
    <a
      href="https://www.technologiestiftung-berlin.de/datenschutz"
      target="_blanc">{{ translations.footer.dataPrivacy }}</a>
  </li>
  <li class="font-bold underline cursor-pointer mb-2 underline-offset-2">
    <a
      href="https://www.technologiestiftung-berlin.de/impressum"
      target="_blanc"
      >{{ translations.footer.impressum }}</a
    >
  </li>
</ul>
<div class="w-full flex justify-center">
  <span>{{ translations.footer.copywrite }}</span>
</divclass>
