<h2
  class="pt-8 mt-8 pb-2.5 border-t border-corporate-blue-light font-bold text-md"
>
  Gefördert von:
</h2>
<img
  src="static/images/B_SEN_WiEnBe_Logo_DE_H_PW_RGB.svg"
  class="w-full max-w-80 pb-5"
  alt="Logo der Berliner Senatsverwaltung für Wirtschaft, Energie und Betriebe"
/>
<ul class="mb-8">
  <li class="font-bold underline cursor-pointer mb-2 underline-offset-2">
    <a>Datenschutzerklärung</a>
  </li>
  <li class="font-bold underline cursor-pointer mb-2 underline-offset-2">
    <a
      href="https://www.technologiestiftung-berlin.de/impressum"
      target="_blanc"
      >Impressum</a
    >
  </li>
</ul>
<span class="m-auto w-full">© 2022 Technologiestiftung Berlin</span>
