<nav
  id="nav-mobile"
  class="navigation bottom-0 left-0 fixed bg-corporate-blue translate-y-0 transition-all duration-300 text-white w-full desktop:hidden z-10 {% if false %}translate-y-full{% endif %}"
>
  <div class="w-full shadow-bottom">
    <div
      class="toggle mx-auto px-mobile py-4 max-w-4xl h-full flex justify-between font-bold"
    >
      <button
        data-toggle="accordion"
        class="flex cursor-pointer"
        aria-expanded="false"
        aria-controls="accordion-list"
      >
        <img
          class="w-4 mr-6"
          src="{{ url_for('static', path='images/align-left.svg') }}"
          alt="{{ translations.nav.tableOfContents }}"
        />
        <span class="font-bold text-sm w-full">
          {{ translations.nav.label }}
        </span>
      </button>
      <button
        data-toggle="accordionCloseOnly"
        class="flex cursor-pointer hidden"
        aria-label="{{ translations.nav.closeNav }}"
        aria-expanded="false"
        aria-controls="accordion-list"
      >
        <img
          class="w-4"
          src="{{ url_for('static', path='images/x-circle.svg') }}"
        />
      </button>
    </div>
  </div>
  <div
    id="accordion-list"
    class="h-full max-h-0 overflow-auto max-w-4xl mx-auto tablet:px-16 transition-all duration-300 {% if false %}max-h-screen{% endif %}"
  >
    <ul class="p-mobile">
      {% for section in translations.sections %}
        {% if section.type == "header" %}
          {% include "components/navigation/nav-header.html" %}
        {% elif section.id %}
          {% include "components/navigation/nav-link.html" %}
        {% endif %}
      {% endfor %}
      <li>{% include "components/navigation/footer.html" %}</li>
    </ul>
  </div>
  {% include "components/navigation/scroll-top-button.html" %}
</nav>
