<!doctype html>
<html class="scroll-smooth text-[18px]" lang="{{ language_code }}">
  <head>
    <title>Innovationserhebung</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body class="bg-corporate-blue hyphens-auto">
    {% block content %}{% endblock %}
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/hide-nav-on-top-scroll.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/highlight-nav-links.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/interactive-nav.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/custom-dropdown.js') }}"
    ></script>
  </body>
</html>
