<!doctype html>
<html class="scroll-smooth text-[18px]" lang="{{ language_code }}">
  <head>
    <title>Innovationsdaten Berlin</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#1E3791" />
        <meta
      name="description"
      content="Welche Innovatoren sind für Berlin und Deutschland wichtig? Und wie hat sich das über die letzten 10 Jahre verändert? Unsere Innovationsdaten zeigen es – jetzt auch klickbar und zum Filtern, in dynamischer Visualisierung."
    />
    <meta name="title" content="Innovationsdaten Berlin - Technologiestiftung Berlin">
    <!-- Social media meta -->
    <meta name="twitter:title" content="Innovationsdaten Berlin - Technologiestiftung Berlin">
    <meta name="twitter:description" content="Welche Innovatoren sind für Berlin und Deutschland wichtig? Und wie hat sich das über die letzten 10 Jahre verändert? Unsere Innovationsdaten zeigen es – jetzt auch klickbar und zum Filtern, in dynamischer Visualisierung.">
    <meta name="twitter:image" content="../static/images/thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TSBBerlin" />

    <meta property="og:title" content="Innovationsdaten Berlin - Technologiestiftung Berlin" />
    <meta property="og:description" content="Welche Innovatoren sind für Berlin und Deutschland wichtig? Und wie hat sich das über die letzten 10 Jahre verändert? Unsere Innovationsdaten zeigen es – jetzt auch klickbar und zum Filtern, in dynamischer Visualisierung.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.technologiestiftung-berlin.de/" />
    <meta property="og:image" content="../static/images/thumbnail.png" />
    <link rel="apple-touch-icon" href="../static/images/weiß-192.png" />

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.ts.berlin/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '40']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body class="bg-corporate-blue">
    {% block content %}{% endblock %}
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/hide-nav-on-top-scroll.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/highlight-nav-links.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/interactive-nav.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/js/custom-dropdown.js') }}"
    ></script>
  </body>
</html>
