{% extends 'base.html' %} {% block content %}
<div id="app" class="max-w-4xl mx-auto">
  {# {% include "components/navigation/index.html" %} #} {% include
  "components/hero.html" %}
  <div
    class="page-wrapper mt-[60vh] bg-white w-screen px-16 w-full absolute left-0 shadow-top"
  >
    <div class="w-full max-w-4xl mx-auto">
      {% for section in translations.get("sections", []) %} {% with
      section=section %} {% include "components/section.html" %} {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
